/* Import of Variables.scss 
this file got the Main colors and fonts */
/*------------- Typography ----------*/
@font-face {
  font-family: "Helvetica-neue-ligth";
  src: url("../fonts/HelveticaNeueLt.ttf"); }
@font-face {
  font-family: "Helvetica-neue";
  src: url("../fonts/HelveticaNeue.ttf"); }
@font-face {
  font-family: "Helvetica-neue-bold";
  src: url("../fonts/HelveticaNeueBd.ttf"); }
@font-face {
  font-family: "Helvetica-neue-med";
  src: url("../fonts/HelveticaNeueMed.ttf"); }
a {
  text-decoration: none;
  color: inherit; }

html {
  scroll-behavior: smooth; }

/*------------- HEADER / Presentacion -----------*/
.header {
  min-height: 100vh;
  background: #f42541;
  background: linear-gradient(90deg, #f42541 0%, #fd7936 50%, #ff9526 100%);
  color: #ffffff; }

/* MENU DESPLEGABLE  */
.menu {
  display: none;
  position: absolute;
  background-color: #ff9526;
  width: 100%;
  justify-content: center;
  z-index: 10;
  height: 100vh; }

.menu ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px; }

.menu ul li {
  width: 100%;
  font-size: 2em;
  text-align: center;
  transition: 0.4s;
  transition: ease-in; }

.menu ul li:hover {
  border-bottom: #ffffff 2px solid;
  width: 100%;
  font-size: 2.5em; }

.navbar {
  background-color: transparent;
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-right: 20px; }

/* PRESENTACION INDEX  */
.introduction {
  font-family: Helvetica-neue-ligth;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin-left: 20px; }

.introduction p {
  font-size: 1.3em;
  line-height: 1.6;
  width: 92%;
  margin-top: 50px; }

.introduction a {
  margin-top: 60px; }

.introduction h1 {
  font-size: 2em; }

.alanGaia {
  font-family: Helvetica-neue-bold;
  text-decoration: underline; }

.btn-primary {
  color: #ffffff;
  background-color: #ff9526;
  border: solid 2px #ff9526;
  border-radius: 3px;
  font-size: 1.2em;
  font-family: Helvetica-neue-bold;
  padding: 14px 40px;
  opacity: 1; }

.btn-outline {
  color: #ffffff;
  background-color: transparent;
  border: solid 2px #ffffff;
  border-radius: 3px;
  font-size: 1.2em;
  font-family: Helvetica-neue-bold;
  padding: 14px 40px;
  opacity: 0.7;
  cursor: pointer; }

.btn-outline:hover {
  opacity: 1;
  transition: 200ms; }

.btn-primary:hover {
  opacity: 0.9;
  transition: 200ms; }

.resumen {
  background-color: #ffffff; }

.contenedor-subtitulo {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2em; }

.subtitulo {
  color: #ff9526; }

.contenedor-subtitulo h2 {
  font-size: 1.8em;
  margin-top: 0px; }

.habilidades {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 100px;
  font-family: Helvetica-neue-bold; }

.habilidad {
  text-align: center;
  margin-bottom: 25px;
  line-height: 1.6;
  font-size: 1.2em;
  font-family: Helvetica-neue-ligth; }

.icon-skill {
  width: 65px; }

/*# sourceMappingURL=styles.css.map */
