/*------------- Tipografia -----------*/
@font-face {
  font-family: "Helvetica-neue-ligth";
  src: url("../fonts/HelveticaNeueLt.ttf");
}
@font-face {
  font-family: "Helvetica-neue";
  src: url("../fonts/HelveticaNeue.ttf");
}
@font-face {
  font-family: "Helvetica-neue-bold";
  src: url("../fonts/HelveticaNeueBd.ttf");
}
@font-face {
  font-family: "Helvetica-neue-med";
  src: url("../fonts/HelveticaNeueMed.ttf");
}

a {
  text-decoration: none;
  color: inherit;
}

/*------------- HEADER / Presentacion -----------*/

.header {
  min-height: 100vh;
  background: rgb(243, 38, 64);
  background: linear-gradient(
    90deg,
    rgba(244, 37, 65) 0%,
    rgba(253, 121, 54, 1) 50%,
    rgba(255, 149, 38, 1) 100%
  );
  color: #ffffff;
}
.menu {
  display: none;
  position: absolute;
  background-color: black;
  width: 100%;
}

.navbar {
  background-color: black;
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.btn-primary {
  color: #ffffff;
  background-color: #ff8400;
  border: solid 2px #ff8400;
  border-radius: 3px;
  font-size: 1.2em;
  font-family: Helvetica-neue-bold;
  padding: 14px 40px;
  opacity: 1;
}

.btn-outline {
  color: #ffffff;
  background-color: transparent;
  border: solid 2px #ffffff;
  border-radius: 3px;
  font-size: 1.2em;
  font-family: Helvetica-neue-bold;
  padding: 14px 40px;
  opacity: 0.7;
  cursor: pointer;
}
.btn-outline:hover {
  opacity: 1;
  transition: 200ms;
}
.btn-primary:hover {
  opacity: 0.9;
  transition: 200ms;
}
/* 
  .introduction {
    font-family: Helvetica-neue-ligth;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 12%;
    height: 80vh;
    width: 45%;
  }
  .introduction p {
    font-size: 1.3em;
    line-height: 1.6;
    width: 92%;
    margin-top: 50px;
  }

  .introduction a {
    margin-top: 60px;
  }

  .introduction h1 {
    font-family: Helvetica-neue-bold;
    font-size: 3em;
  }
  .resumen {
    background-color: #ffffff;
  }
  .subtitulo {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2em;
  }
  .subtitulo h2 {
    font-size: 1.8em;
    margin-top: 0px;
  }

  .habilidades {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 100px;
    font-family: Helvetica-neue-bold;
  }
  .habilidad {
    width: 26%;
    text-align: center;
    margin-top: 25px;
    line-height: 1.6;
    font-size: 1.2em;
    font-family: Helvetica-neue-ligth;
  }

  .icon-skill {
    width: 65px;
  }

  .cv {
    background-color: #f1f1f1;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
  }
  .cv-container {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 45%;
  }
  .cv-container h2 {
    font-family: Helvetica-neue-bold;
    font-size: 3em;
  }

  .cv-container p {
    font-family: Helvetica-neue;
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 80px;
  }

  .imagen-bg {
    height: 600px;
    top: 0;
    bottom: 0;
    width: 640px;
    position: relative;
  }
  .imagen-content {
    position: absolute;
    width: 230px;
    top: 98px;
    left: 204px;
    height: 403px;
  }

  .imagen-cv {
    width: 75%;
    height: 100%;
    max-width: 250px;
    max-height: 400px;
  }

  .container-bg {
    position: relative;
    left: 0;
    top: 0;
  }
  .image-container-cv {
    display: flex;
    width: 45%;
    justify-content: center;
    align-items: center;
  } */
