// Fonts 
/*------------- Typography ----------*/
@font-face {
    font-family: "Helvetica-neue-ligth";
    src: url("../fonts/HelveticaNeueLt.ttf");
  }
  @font-face {
    font-family: "Helvetica-neue";
    src: url("../fonts/HelveticaNeue.ttf");
  }
  @font-face {
    font-family: "Helvetica-neue-bold";
    src: url("../fonts/HelveticaNeueBd.ttf");
  }
  @font-face {
    font-family: "Helvetica-neue-med";
    src: url("../fonts/HelveticaNeueMed.ttf");
  }


// Colors 
$redPink : #f42541;
$orangeRed : #fd7936;
$orange : #ff9526;
$white : #ffffff;
$gray: #dbdbdb;
$black : #000000;




